[2021-04-17 00:22] #846 closed

[2021-04-18 01:26] lsellens commented on #843
If no one else is interested I can take over. I use this plugin all of the time so I don't see myself abandoning it anytime soon.

[2021-04-18 01:38] jneilliii commented on #843
Thanks @lsellens. The easiest way to transition this is to either have @electr0sheep transfer the repo to your github account, or add you as a maintainer to his repo. Once that's done I can remove the adandoned flag.

[2021-04-18 18:27] AvanOsch commented on #843
I basically feel the same as @lsellens.
@electr0sheep, maybe you can transfer to one of us, and make the other a maintainer?

[2021-04-19 19:53] lukechev opened #847 "[Listing Error] OctoPrint-TPLinkSmartplug"
### Which Plugin?

https://plugins.octoprint.org/plugins/tplinksmartplug/

### What kind of listing error are you reporting?

incorrect compatibility information on the plugin listing

### What specifically is broken or wrong?

Their is a notice stating an issue, this issue is not present in newer firmware, maybe could be updated to reflect this

I have just set this up my plug is on firmware 1.0.

[2021-04-19 19:59] cp2004 commented on #847
The firmware version 1.1.0 still breaks the plugin. TP Link got a fair amount of complaining users for that firmware update, so there was an option to roll back. Maybe they didn't roll it out to your plug.

The statement on the plugin's page still holds true, as it does break still:

[2021-04-20 13:31] blaekipups opened #848 "[Listing Error] Creality 2x temperature reporting fix"
### Which Plugin?

https://plugins.octoprint.org/plugins/ender3v2tempfix/

### What kind of listing error are you reporting?

incorrect compatibility information on the plugin listing

### What specifically is broken or wrong?

Hey,
I have a temperature display issue with my Ender 3V2. This Plugin did fix the problem when I first installed it but now when I look at the console, i see the error aga

[2021-04-20 14:00] cp2004 commented on #848
Please report issues with specific plugins in the bug tracker of the plugin instead of here. This tracker is for reporting issues with the plugin repository, not issues with the plugins registered in it, as also stated on the ticket form:

Thanks :)

In this specific case, the plugin is performing as expected - it cannot do the serial communication for the printer, it just allows OctoPrint to read

[2021-04-20 14:00] #848 closed

[2021-04-20 14:30] blaekipups commented on #848
Thank you for your Help, next time I will report it in the right place.

[2021-04-20 16:54] icancwhatusay commented on #843
Well sadly I don't know enough about how to maintain such things but I have found this plug-in to be wonderfully simple, easy to use and incredibly useful so thank you for creating it in the first place.

[2021-04-23 18:19] electr0sheep commented on #843
@lsellens If you will delete the fork you have, I will transfer ownership to you. It won't currently allow me to do it because you already have a repo with the same name.

[2021-04-23 18:22] lsellens commented on #843
@electr0sheep done

[2021-04-23 18:38] electr0sheep commented on #843
@lsellens Transfer has been initiated. I think you just need to "accept" the transfer now or something

[2021-04-23 19:04] lsellens commented on #843
Cool thanks, Ill keep it alive. @AvanOsch I sent you an invite to be added as a maintainer.

[2021-04-23 19:06] lsellens commented on #843
@jneilliii you can close this and remove the abandoned flag

[2021-04-23 19:06] #843 closed

[2021-04-23 22:06] jneilliii commented on #843
@lsellens make sure to adjust the url's in the repo to your github account. The repo transfer will handle software update stuff for future versions, but would be good to have that in place for new installs. Thanks for the smooth transition @electr0sheep.

[2021-04-26 10:55] Sebclem opened #860 "[Feature Request] Badge/Shield or API for 'Active instances the past month'"
### What do you want to see implemented in the plugin repository?

It can be interesting to have the ability to get a badge for `Active instances the past month` so that we can add it to our Github Readme.

Or maybe just have access to an API so we can create one with shield.io

### Why, what problems would be solved by this?

I'm just thinking about adding a Badge/Shield to my github readme

###

[2021-04-26 15:15] jneilliii commented on #860
So there is a way to do shield.io badges from your github repo directly for download counts, but requires a little work on your releases. Instead of using the default release you have to use a release asset, which requires a change to the software update check in most cases. There are a couple of plugin authors that are doing this, like https://github.com/cp2004/OctoPrint-WS281x_LED_Status or http

[2021-04-26 15:19] cp2004 commented on #860
Better example for the adjusted SW update hook is my WLED plugin rather than WS281x, where the work is only half done.

[2021-04-26 18:42] Sebclem commented on #860
I find (thanks to @cp2004 's OctoPluginStats) that there is a kind of API with https://data.octoprint.org/.

So we can use https://data.octoprint.org/export/plugin_stats_30d.json with [Shields.oi dynamic badge](https://www.shields.io/#dynamic-badge)

[2021-04-26 18:56] #860 closed

[2021-04-26 20:09] foosel commented on #860
As an example:

[code]

![](https://img.shields.io/badge/dynamic/json?label=Instances&query=%24.plugins.octolapse.instances&url=https%3A%2F%2Fdata.octoprint.org%2Fexport%2Fplugin_stats_7d.json)

[2021-04-26 20:12] cp2004 commented on #860
I was just about to ask if there was an example of how that would work!

@Sebclem If you want to fork and run your own OctoPluginStats, I'll fix the instructions of 'how to do so'... It's new, and done in Material UI & React at the moment.

[2021-05-06 16:58] GutlessGnat opened #872 "[Listing Error] Octoprint Youtube Timelapse"
### Which Plugin?

https://plugins.octoprint.org/plugins/youtube_timelapse/

### What kind of listing error are you reporting?

incorrect compatibility information on the plugin listing

### What specifically is broken or wrong?

When it auto uploads it restricts it for terms and policies and won't allow me to amend it ?

[2021-05-06 17:05] kantlivelong commented on #872
This tracker is reserved for:

- missing or broken homepage, source or download URLs
broken images
- incorrect compatibility information
- ... in short, anything related to the data on plugins.octoprint.org

If this issue only applies to a specific plugin please report to the appropriate plugin repository.

If this issue affects all plugins please submit a ticket to https://github.com/foosel/OctoP

[2021-05-06 17:05] #872 closed

[2021-05-07 18:11] Lanzentraeger opened #873 "[Listing Error] OctoPrint-CustomBackground"
### Which Plugin?

https://plugins.octoprint.org/plugins/custombackground/

### What kind of listing error are you reporting?

broken images on the listing

### What specifically is broken or wrong?

Today i got the new Octoprint Update. Since the Update, my Custom Background GIF is not running smooth. Before it was very smooth, now there is a long cut when it starts again and again. Also the Time

[2021-05-07 18:16] kantlivelong commented on #873
This tracker is reserved for:

- missing or broken homepage, source or download URLs
broken images
- incorrect compatibility information
- ... in short, anything related to the data on plugins.octoprint.org

If this issue only applies to a specific plugin please report to the appropriate plugin repository.

If this issue affects all plugins please submit a ticket to https://github.com/foosel/OctoP

[2021-05-07 18:16] #873 closed

[2021-05-09 09:59] OllisGit commented on #860
fyi: In my KnowHow-Wiki is a description how I made the badges:
https://github.com/OllisGit/OctoPrint-KnowledgeBase/wiki/DownloadCounter

[2021-05-12 08:38] maconly34 opened #879 "[Listing Error] Calibration Companion"
### Which Plugin?

https://plugins.octoprint.org/plugins/calibrationcompanion/

### What kind of listing error are you reporting?

broken link on the listing

### What specifically is broken or wrong?

Could not fetch plugin from server, got 404 Client Error: Not Found for url: https://codeload.github.com/iFrostizz/OctoPrint-CalibrationCompanion/zip/master

[2021-05-12 08:57] cp2004 commented on #879
See https://github.com/iFrostizz/OctoPrint-CalibrationCompanion/issues/1

It was fixed quickly, but you probably need to refresh.

[2021-05-12 08:57] #879 closed

[2021-05-15 11:13] apbarratt opened #882 "[Listing Error] WiFi Status"
### Which Plugin?

https://plugins.octoprint.org/plugins/wifistatus/

### What kind of listing error are you reporting?

broken link on the listing

### What specifically is broken or wrong?

It seems the installation url is incorrect, it goes to https://github.com/ManuelMcLure/OctoPrint-WiFiStatus/archive/master.zip which results in a 404.

Looking at the linked homepage, there is no branch named

[2021-05-15 11:20] apbarratt commented on #882
I've gone ahead and created the issue now on the plugin's own repo, hopefully some conversation can be done to figure out which side needs fixed :) https://github.com/ManuelMcLure/OctoPrint-WiFiStatus/issues/18

[2021-05-15 11:28] cp2004 commented on #882
For once, an *actual* listing error. _Actually_ posted in the right place. Not some other bug or someone else's problem...

This does need adjusting in this repository, so we can either wait for @ManuelMcLure to send a PR or someone will adjust it soon.

[2021-05-15 12:22] apbarratt commented on #882
Aha, do I get a prize? XD

[2021-05-15 14:30] jneilliii commented on #882
🍪

[2021-05-15 14:44] #882 closed

[2021-05-24 20:24] williamn79 opened #890 "[Listing Error] OctoRelay"
### Which Plugin?

https://plugins.octoprint.org/plugins/octorelay/

### What kind of listing error are you reporting?

incorrect compatibility information on the plugin listing

### What specifically is broken or wrong?

Installing plugin "OctoRelay" from https://github.com/borisbu/OctoRelay/archive/master.zip...
/home/pi/oprint/bin/python -m pip --disable-pip-version-check install file:///tmp/tm

[2021-05-24 20:55] cp2004 commented on #890
Please report issues with individual plugins to the plugin's own repository, there is nothing we can do about this here. Alternatively, state what is wrong with the actual information on the listing.

[2021-05-24 20:55] #890 closed

[2021-05-28 06:49] everdom opened #891 "[Listing Error] OctoPrint-Draggable_files"
### Which Plugin?

https://plugins.octoprint.org/plugins/draggable_files/

### What kind of listing error are you reporting?

incorrect compatibility information on the plugin listing

### What specifically is broken or wrong?

conflict with the TouchUI plugin

[2021-05-28 06:50] #891 closed

[2021-05-29 06:20] orkusmg opened #892 "[Listing Error] OctoPrint-WideScreen"
### Which Plugin?

https://plugins.octoprint.org/plugins/widescreen/

### What kind of listing error are you reporting?

broken images on the listing

### What specifically is broken or wrong?

Plugin does not detect any sections
![2021-05-29_08h19_17](https://user-images.githubusercontent.com/49352823/120060196-9e456300-c056-11eb-894f-903623d37fc6.png)
. There is nothing to drag from left to righ

[2021-05-29 06:32] kantlivelong commented on #892
This tracker is reserved for:

- missing or broken homepage, source or download URLs
broken images
- incorrect compatibility information
- ... in short, anything related to the data on plugins.octoprint.org

If this issue only applies to a specific plugin please report to the appropriate plugin repository.

If this issue affects all plugins please submit a ticket to https://github.com/foosel/OctoP

[2021-05-29 06:32] #892 closed

[2021-05-31 20:32] whb52ford opened #893 "It keeps freezing on my iphone. How do I remove it?"
### Which Plugin?

https://plugins.octoprint.org/plugins/uicustomizer/

### What kind of listing error are you reporting?

incorrect compatibility information on the plugin listing

### What specifically is broken or wrong?

It keeps freezing on my iphone.  Screen locks and can't do anything.  How do I remove this?  thx

[2021-05-31 20:39] cp2004 commented on #893
Please report issues with individual plugins to the plugin's own repository, and seek support on the [community forums](https://community.octoprint.org) or [discord server](https://discord.octoprint.org). Thanks!

[2021-05-31 20:39] #893 closed

[2021-06-09 04:03] Cabalist commented on #624
For what it is worth Growl has been "Retired"  i.e. not under development anymore and not recommended to integrate with.
https://github.com/growl/growl#retirement
This might be worth removing.

[2021-06-10 09:42] sir106 opened #897 "[Listing Error] OctoPrint-Pushjet"
### Which Plugin?

https://plugins.octoprint.org/plugins/pushjet/

### What kind of listing error are you reporting?

broken link on the listing

### What specifically is broken or wrong?

service PushJet seems to be down; linked URL (https://pushjet.io/) no longer available.

[2021-06-10 16:58] cp2004 commented on #897
Plugin appears abandoned, and the service is indeed down - I found https://github.com/Pushjet, but that is also inactive.

If we don't hear back from @dipusone my vote would be that this plugin is removed from the repository - if the service is down, then there is not much point in having a plugin listed that can interact with it.

[2021-06-10 17:23] foosel commented on #897
Another vote for that from my side, for the same reason.

[2021-06-10 19:21] jneilliii commented on #897
I agree, if it's dead the plugin should be removed. Will wait 7 days to give @dipusone a chance to reply.

[2021-06-22 16:09] #897 closed

[2021-07-04 13:04] gobbledygoober opened #900 "[Feature Request] Add sort by number of installations"
### What do you want to see implemented in the plugin repository?

Suggest that "Sort By" active or total installations be added to complement Name, Date, Tag, and Author.

### Why, what problems would be solved by this?

This would be helpful to show new users which plugins are popular. Instead, I looked for articles on the internet that recommended plugins and looked at the raw json export "inst

[2021-07-04 14:30] cp2004 commented on #900
If I remember right there is already a sort option in the plugin manager actually inside OctoPrint, just not on the website.

[2021-07-04 17:54] jneilliii commented on #900
Yeah, I think the default sort order in get more of plugin manager was changed to sort by number of installs.

[2021-07-06 01:45] gobbledygoober commented on #900
Aha! I see it now. Thanks!

[2021-07-06 01:45] #900 closed

[2021-07-16 07:55] Athanaetos opened #908 "[Listing Error] OctoPrint-GpioRgbController"
### Which Plugin?

https://plugins.octoprint.org/plugins/gpiorgbcontroller/

### What kind of listing error are you reporting?

incorrect compatibility information on the plugin listing

### What specifically is broken or wrong?

Whenever I enable this plugin, my octoprint crashes. The wifi seems to die. I need to plug it into an ethernet, then disable it. Afterwards I can use wifi.

[2021-07-16 08:24] foosel commented on #908
Please report issues with specific plugins in the bug tracker of the plugin instead of here. This tracker is for reporting issues with the plugin **repository**, not issues with the plugins registered in it, as also stated on the ticket form:

Thanks :)

[2021-07-16 08:24] #908 closed

[2021-07-20 08:10] ncot-tech opened #911 "[Abandoned Plugin] Full-featured Slicer"
### Which Plugin?

https://plugins.octoprint.org/plugins/slicer/

### Link to ticket on plugin's issue tracker confirming abandonment

https://github.com/kennethjiang/OctoPrint-Slicer

### Is there someone open to adopting it?

_No response_

[2021-07-20 08:10] ncot-tech commented on #911
From the top of the README.md...

Note: This project is no longer maintained. The latest Cura versions have excellent support to directly slice and send gcode to OctoPrint, and hence render this plugin largely obsolete.

If you are interested in taking over the ownership of this plugin, please PM me.

[2021-07-20 09:43] cp2004 commented on #911
#572 was created previously, so there is someone with ownership but I guess the note on the readme has not been changed?

[2021-07-20 09:48] foosel commented on #911
Ah, that explains why this sounded so familiar. Thanks for digging up that ticket, @cp2004.

@eyal0, can you elaborate on what's the status here?

[2021-07-25 23:34] liny-odell opened #914 "[Abandoned Plugin] TemperatureFailsafe"
### Which Plugin?

https://plugins.octoprint.org/plugins/temperaturefailesafe/

### Link to ticket on plugin's issue tracker confirming abandonment

Github page is archived, no ticket can be made.

### Is there someone open to adopting it?

_No response_

[2021-07-29 15:39] awenelo opened #917 "[Abandoned Plugin] HeaterTimeout"
### Which Plugin?

https://plugins.octoprint.org/plugins/heatertimeout/

### Link to ticket on plugin's issue tracker confirming abandonment

Github repository is archived, a ticket can't be created

### Is there someone open to adopting it?

_No response_

[2021-07-29 15:39] awenelo opened #918 "[Abandoned Plugin] LEDStripControl"
### Which Plugin?

https://plugins.octoprint.org/plugins/ledstripcontrol/

### Link to ticket on plugin's issue tracker confirming abandonment

Github repository is archived, a ticket can't be created

### Is there someone open to adopting it?

_No response_

[2021-07-30 08:29] foosel commented on #470
I guess that's a no. I'm wondering, this plugin is pretty much completely dead in the water, incompatible to current versions of OctoPrint, to Python 3... shouldn't we just delist it altogether at this point?

[2021-07-30 09:15] kantlivelong commented on #470
👍

[2021-07-30 11:13] strfr commented on #917
What is required for maintaining this plugin?

[2021-07-30 11:17] cp2004 commented on #917
Fork the repository, make some changes & adjust the software update hook to point to your fork. Please retain credit to the original author.

Once you have a repository you are using to maintain the plugin, you can submit a PR here adjusting the URLs and adding yourself as an author to the plugin listing.

[2021-07-30 12:40] jneilliii commented on #470
Agree

[2021-07-30 13:51] #411 closed

[2021-07-30 13:51] #470 closed

[2021-07-30 13:52] foosel commented on #470
Delisted.

[2021-07-30 13:52] foosel commented on #411
Plugin has been delisted, see #470

[2021-07-30 16:26] awenelo opened #920 "[Abandoned Plugin] MetadataPreprocessor"
### Which Plugin?

https://plugins.octoprint.org/plugins/metadatapreprocessor/

### Link to ticket on plugin's issue tracker confirming abandonment

https://github.com/malnvenshorn/OctoPrint-MetadataPreprocessor/issues/6 - no response in 38 days

### Is there someone open to adopting it?

I've filed a PR to update to Python 3, https://github.com/malnvenshorn/OctoPrint-MetadataPreprocessor/pull/7

[2021-07-31 08:26] Joedmin commented on #917
I may have adopt it, I'll look at it and try to resolve some issues. I wanted to try to make plugins anyway

[2021-08-01 12:08] CodfishCatfish opened #922 "Not triggering events at all, OctoPrint-IFTTT"
### Which Plugin?

https://plugins.octoprint.org/plugins/IFTTT/

### What kind of listing error are you reporting?

incorrect compatibility information on the plugin listing

### What specifically is broken or wrong?

Will not trigger IFTTT events.

[2021-08-01 12:28] cp2004 commented on #922
Please report issues with specific plugins in the bug tracker of the plugin instead of here. This tracker is for reporting issues with the plugin repository, not issues with the plugins registered within it.

Thanks :)

[2021-08-01 12:28] #922 closed

[2021-08-18 00:35] Jordan-Morales commented on #918
What all is involved in caring for a plugin. 👀

[2021-08-18 03:13] jneilliii commented on #918
Mainly just dealing with support related issues, and if needed bug fixes/feature requests at the discretion of the adopter. If you are interested in taking over this plugin there is a small process that has to be completed to transfer the pointers in the plugin repo to your fork of the plugin.

[2021-08-19 04:47] paulokinho opened #928 "[Listing Error] OctoPrint-Filamentstorage"
### Which Plugin?

https://plugins.octoprint.org/plugins/filamentstorage/

### What kind of listing error are you reporting?

incorrect compatibility information on the plugin listing

### What specifically is broken or wrong?

It does not work when is installed, not sure why but it seems it is not python 3 compatible.

[2021-08-19 07:31] cp2004 commented on #928
It is not Python 3 compatible, yes, but that is also listed correctly on the page you linked. So there's no listing error, please report issues to the plugin author at https://github.com/waltmoorhouse/OctoPrint-Filamentstorage

---

Please report issues with specific plugins in the bug tracker of the plugin instead of here. This tracker is for reporting issues with the plugin repository, not issue

[2021-08-19 07:31] #928 closed

[2021-08-29 06:28] hryanl opened #938 "[Listing Error] Octoprint Youtube Timelapse"
### Which Plugin?

https://plugins.octoprint.org/plugins/youtube_timelapse/

### What kind of listing error are you reporting?

incorrect compatibility information on the plugin listing

### What specifically is broken or wrong?

This plugin will not allow you to publish your uploaded videos as public videos. In fact, if you try to do so, YouTube will lock the video to private permanently because

[2021-08-29 07:02] #920 closed

[2021-08-29 07:04] jneilliii commented on #938
---

Please report issues with specific plugins in the bug tracker of the plugin instead of here. This tracker is for reporting issues with the plugin repository, not issues with the plugins registered in it:

[2021-08-29 07:04] #938 closed

[2021-09-23 14:43] cereyanli commented on #917
@Joedmin have you made up your mind ? are you going to take over the development ?

[2021-09-24 10:37] marndra opened #944 "[Listing Error] Octoprint-Chituboard"
### Which Plugin?

https://plugins.octoprint.org/plugins/Chituboard/

### What kind of listing error are you reporting?

incorrect compatibility information on the plugin listing

### What specifically is broken or wrong?

installed Octoprint-Chituboard v0.1.3 on my ubuntu 20.04.3 odroid C2 and now octoprint 1.70rc3 can no more boot (instane 1)

I have:
Hardware: Odroid C2 (64GB eccm)
Software: OS

[2021-09-24 10:37] marndra opened #945 "[Suspicious Plugin Activity] Octoprint-Chituboard"
### Which Plugin?

https://plugins.octoprint.org/plugins/Chituboard/

### What kind of suspicious activity are you reporting?

something else (specify below)

### If you selected "something else" above, what other kind of suspicious activity did you observe?

installed Octoprint-Chituboard v0.1.3 on my ubuntu 20.04.3 odroid C2 and now octoprint 1.70rc3 can no more boot (instane 1)

### Link to a t

[2021-09-24 11:50] cp2004 commented on #944
Please report issues with specific plugins in the bug tracker of the plugin instead of here. This tracker is for reporting issues with the plugin repository, not issues with the plugins registered in it, as also stated on the ticket form:

If you need support using OctoPrint and plugins, please use the [community forums](https://community.octoprint.org) or the [discord server](https://discord.octo

[2021-09-24 11:50] #944 closed

[2021-09-24 11:51] cp2004 commented on #945
Duplicate of #944

This is not suspicious activity, please don't post duplicate issues.

[2021-09-24 11:51] #945 closed

[2021-10-18 19:26] Andy-ch commented on #917
If the seat is still vacant, I could take it. My Octoprint UI lead me to this page
I've been working with Python for a long time, and the plugin repo is 68% Python

[2021-10-18 23:45] Andy-ch commented on #917
Bit of a legal question: can I remove [CONTRIBUTING.md](https://github.com/Andy-ch/OctoPrint-HeaterTimeout/blob/master/CONTRIBUTING.md) file? As it is, it requires contributors to sign the [Google Individual Contributor License Agreement](https://developers.google.com/open-source/cla/individual?csw=1), and with the plugin not being maintained by Google, I don't think it's relevant anymore. But a c

[2021-10-19 00:39] jneilliii commented on #917
I'm assuming since you forked it from google that is a default they put on all their repos I bet. It seems that @precision was the primary contributor to the actual repo itself so maybe they could provide some insight into that. The plugin is Apache 2 license, so you technically would only have to follow the required limitations of that license.

[2021-10-19 22:43] taylorturner commented on #917
I'm happy to help out with the Python on this plugin or any other! Would love to contribute to the Octoprint project since I use it so much!

[2021-10-20 03:18] LunkwillAndFook commented on #918
Give me a few days to look at the code. I may take this since I use the plugin.

[2021-10-20 20:16] #917 closed

[2021-10-22 09:27] Wychall opened #954 "[Listing Error] OctoPrint-TpLinkAutoShutdown"
### Which Plugin?

https://plugins.octoprint.org/plugins/TpLinkAutoShutdown/

### What kind of listing error are you reporting?

broken link on the listing

### What specifically is broken or wrong?

 "https://github.com/jamesmccannon02/OctoPrint-Tplinkautoshutdown/archive/master.zip" cannot be found using sudo apt install.

[2021-10-22 09:32] #954 closed, assigned to nobody

[2021-10-31 17:54] jsdokos opened #955 "[Listing Error] Mattacloud Beta"
### Which Plugin?

https://plugins.octoprint.org/plugins/mattacloud/

### What kind of listing error are you reporting?

broken link on the listing

### What specifically is broken or wrong?

All links go to what appears to be the old website, see below for examples:
https://mattalabs.com/products/mattacloud/
https://cloud.mattalabs.com/accounts/signup/
https://cloud.mattalabs.com/accounts/login/

[2021-10-31 18:49] jneilliii commented on #955
@dougbrion, please update your plugin's links.

@jsdokos you may also want to post an issue on the plugin's repo: https://github.com/Mattalabs/OctoPrint-Mattacloud

[2021-10-31 19:05] jsdokos commented on #955
Issue has been cross posted: https://github.com/Mattalabs/OctoPrint-Mattacloud/issues/19

[2021-10-31 20:13] dougbrion commented on #955
Thanks for pointing this out, will update them this week!

[2021-11-03 13:37] AntDX316 commented on #687
why abandon?? just need it to stop when filament is out

[2021-11-07 18:55] incingam opened #956 "[Abandoned Plugin] OctoPrint-WebcamStreamer"
### Which Plugin?

https://plugins.octoprint.org/plugins/webcamstreamer/

### Link to ticket on plugin's issue tracker confirming abandonment

https://plugins.octoprint.org/plugins/webcamstreamer/

### Is there someone open to adopting it?

_No response_

[2021-11-07 19:05] jneilliii commented on #956
duplicate of #807

[2021-11-07 19:05] #956 closed

[2021-11-09 16:14] AntDX316 commented on #687
how can we add a pause stop command now?

[2021-11-14 14:36] MichielO opened #961 "[Listing Error] GcodeSuperLaserController"
### Which Plugin?

https://plugins.octoprint.org/plugins/gslc/

### What kind of listing error are you reporting?

broken link on the listing

### What specifically is broken or wrong?

Broken link. The GitHub project is not found.
Is this the right project? https://github.com/jneilliii/GCodeSuperLaserController

[2021-11-14 15:03] cp2004 commented on #961
Looks like the author may have deleted the repository. The link you have found is a fork of the original repository, not the actual project itself.

[2021-11-14 15:14] DrQbz opened #962 "[Listing Error] Fullscreen Webcam"
### Which Plugin?

https://plugins.octoprint.org/plugins/fullscreen/

### What kind of listing error are you reporting?

broken link on the listing

### What specifically is broken or wrong?

It is not possible to install plugin.
There are 0 active instances and 0 new installs.

Broken plugin?

[2021-11-14 15:26] cp2004 commented on #962
Just fixed this - the plugin's ID was not matching up, now it is and there are stats showing.

If you are having trouble installing it, reach out on the community forums, discord server or the plugin's own issue tracker, as we can't resolve those issues here.

[2021-11-14 15:26] #962 closed

[2021-11-14 21:31] jneilliii commented on #961
Yeah, this looks more like an abandonment request. Can't remember why I had created a fork of that plugin. Will remove listing from plugin repo as I have no desire to maintain this one.

[2021-11-20 11:04] caos86 opened #964 "[movimento fallito] Bed Leveling"
### Which Plugin?

https://plugins.octoprint.org/plugins/CR10_Leveling/

### What kind of listing error are you reporting?

a typo in the plugin listing

### What specifically is broken or wrong?

salve questo plugin dall ultimo aggiornamento non a piu i movimenti dei 5 punti  una volta che il bed arriva a temperatura invece di livellare compare la scritta stampa

[2021-11-20 13:16] cp2004 commented on #964
Please report issues with specific plugins in the bug tracker of the plugin instead of here. This tracker is for reporting issues with the plugin repository, not issues with the plugins registered in it.

Thanks

[2021-11-20 13:16] #964 closed

[2021-11-22 20:21] smartin015 opened #966 "Adoption of Continuous Print Queue Plugin"
### Which Plugin?

https://plugins.octoprint.org/plugins/continuousprint/

### Link to ticket on plugin's issue tracker confirming abandonment

https://github.com/Zinc-OS/continuousprint/issues/48

### Is there someone open to adopting it?

@smartin015

[2021-11-22 20:23] smartin015 commented on #966
Note: the work I've been doing on this plugin is on my fork: https://github.com/smartin015/continuousprint

[2021-12-09 21:59] Tlumppy01 opened #969 "Rotate rectangles exclude region"
### What do you want to see implemented in the plugin repository?

As a core x/y user, I print most prints at a 45 degree angle, It would be helpful to be able to rotate the exclude region . Thanks

### Why, what problems would be solved by this?

as it stands I need to use multiple rectangular and circular regions to exclude a part on a 45 degree angle

### Any additional information you want to

[2021-12-09 22:01] kantlivelong commented on #969
This tracker is reserved for:

- missing or broken homepage, source or download URLs
broken images
- incorrect compatibility information
- ... in short, anything related to the data on plugins.octoprint.org

If this issue only applies to a specific plugin please report to the appropriate plugin repository.

If this issue affects all plugins please submit a ticket to https://github.com/foosel/OctoP

[2021-12-09 22:01] #969 closed

[2021-12-12 17:50] smartin015 commented on #966
So, what're the next steps for this?

[2021-12-12 21:20] jneilliii commented on #966
Basically we need you to submit a PR to adopt the plugin now that more than 14 days have passed. You can follow what @Zinc-OS did when he adopted the plugin originally [here](https://github.com/OctoPrint/plugins.octoprint.org/pull/673/files). Just make similar changes to redirect the repo to your fork instead.

[2021-12-19 18:23] Lonewolf2nd opened #970 "[Listing Error] Ikea Tradfri"
### Which Plugin?

https://pluginshttps://github.com/ralmn/OctoPrint-Ikea-tradfri/archive/master.zip.octoprint.org/plugins/ikea_tradfri/

### What kind of listing error are you reporting?

broken images on the listing

### What specifically is broken or wrong?

I've updated to be sure Python, Pip and octoprint. So I'm running the latest versions

when installing it gives the following error.

Buil

[2021-12-19 18:45] jneilliii commented on #970
This is an error with the plugin itself, not the actual listing itself. Please report issues to the plugin's issue tracker. You may want to check those links posted for manually fixing the compilation error.

[2021-12-19 18:45] #970 closed

[2021-12-23 17:40] K20FRITZ opened #971 "[Listing Error] Bed Level Visualizer"
### Which Plugin?

https://plugins.octoprint.org/plugins/bedlevelvisualizer/

### What kind of listing error are you reporting?

broken images on the listing

### What specifically is broken or wrong?

the visual will not show after the probing. new octo print install new octopi install python3 now 1.7. worked b4 the upgrade

[2021-12-23 17:57] cp2004 commented on #971
Where is the broken image on that page?

[2021-12-23 18:09] K20FRITZ commented on #971
This is all I get.  I clicked the link it shows the box. I Uninstalled it and reinstalled as well. ![16402829283334583784689390108069](https://user-images.githubusercontent.com/59301029/147277554-ddf04bcf-646b-4593-a4d9-0c4286540804.jpg)

[2021-12-23 18:12] K20FRITZ commented on #971
![16402831533194810992712005719904](https://user-images.githubusercontent.com/59301029/147277824-3e587a25-c3e5-4d40-b060-197683902781.jpg)

[2021-12-23 19:07] cp2004 commented on #971
Please report issues with specific plugins in the bug tracker of the plugin instead of here. This tracker is for reporting issues with the plugin repository, not issues with the plugins registered in it

What kinds of issues you should report here:

* missing or broken homepage, source or download URLs
* broken images
* incorrect compatibility information
* ... in short, anything related to the da

[2021-12-23 19:08] #971 closed

[2021-12-23 19:19] K20FRITZ commented on #971
Sorry My fault.

[2021-12-25 15:47] zerneo85 opened #972 "[Listing Error] Blocks"
### Which Plugin?

https://plugins.octoprint.org/plugins/BLOCKS/

### What kind of listing error are you reporting?

broken link on the listing

### What specifically is broken or wrong?

The download and install link to the master is not working. The install file is not found.

![image](https://user-images.githubusercontent.com/5507607/147388651-e556eb9e-c4a5-4591-9509-d79c99af1d4f.png)

[2021-12-26 00:35] jneilliii commented on #972
Thanks, fixed with commit https://github.com/OctoPrint/plugins.octoprint.org/commit/b4f3f91a381aa1ea16b6354f4d6415186af32be9

[2021-12-26 00:35] #972 closed

[2021-12-28 03:45] sidneyns opened #973 "[Listing Error] Continuous Print"
### Which Plugin?

https://plugins.octoprint.org/plugins/continuousprint/

### What kind of listing error are you reporting?

a typo in the plugin listing

### What specifically is broken or wrong?

hello

I installed the 24 of december plugin update and the continuous print stop working.. it says initializing and wont start anything

[2021-12-28 03:52] jneilliii commented on #973
Please report issues with specific plugins in the bug tracker of the plugin instead of here. This tracker is for reporting issues with the plugin repository, not issues with the plugins registered in it

What kinds of issues you should report here:

* missing or broken homepage, source or download URLs
* broken images
* incorrect compatibility information
* ... in short, anything related to the da

[2021-12-28 03:52] #973 closed

[2021-12-29 18:00] smartin015 commented on #966
I got in contact with @Zinc-OS and we coordinated together to merge in my changes (https://github.com/Zinc-OS/continuousprint/pull/51)

Closing this out as they're keeping ownership at this time.

[2021-12-29 18:00] #966 closed

[2022-01-13 20:52] trufy opened #982 "[Abandoned Plugin] Custom Control Editor"
### Which Plugin?

https://plugins.octoprint.org/plugins/customControl/

### Link to ticket on plugin's issue tracker confirming abandonment

https://github.com/Salandora/octoprint-customControl

### Is there someone open to adopting it?

_No response_

[2022-01-13 21:58] jneilliii commented on #982
The plugin's readme says it's being developed again, so not sure if this is actually abandoned or not. @Salandora could you please verify one way or another?

[2022-01-15 14:34] dzikk commented on #918
Hi
I want to use this plugin only with white led, How can I modify the source code to make possible to toogle state of led with only one command? currently I have to use M150 W and M150

[2022-01-15 16:46] OllisGit commented on #918
Hi @dzikk,
this is not the right place to ask this question, because this repository is only for managing the plugins-page: https://plugins.octoprint.org.
The plugins itself are maintained in there own repository....but this LED-Plugin is archived..no change to raise the question there.

You should use the community forum: https://community.octoprint.org/
There is a much bigger audience for answer

[2022-01-16 03:05] drbrown-l3tech opened #983 "[Abandoned Plugin] Octoprint-Smart-Filament-Sensor"
### Which Plugin?

https://plugins.octoprint.org/plugins/smartfilamentsensor/

### Link to ticket on plugin's issue tracker confirming abandonment

https://github.com/maocypher/Octoprint-Smart-Filament-Sensor

### Is there someone open to adopting it?

_No response_

[2022-01-16 03:05] drbrown-l3tech commented on #983
The author has posted that it is abandoned on the bottom of the Readme.

[2022-01-22 23:09] jneilliii commented on #687
@nickmitchko has volunteered to take over maintenance of the plugin @ssorgatem. If you would transfer the repo to them or provide access that would be the easiest transition.

[2022-01-24 19:22] nickmitchko commented on #687
Confirming @jneilliii 's statement above

[2022-01-25 07:43] Joost79 opened #994 "[Abandoned Plugin] Filament Sensor Simplified"
### Which Plugin?

https://plugins.octoprint.org/plugins/filamentsensorsimplified/

### Link to ticket on plugin's issue tracker confirming abandonment

https://github.com/LuckyX182/Filament_sensor_simplified/issues/38

### Is there someone open to adopting it?

_No response_

[2022-01-25 07:44] Joost79 commented on #994
The last reply from the developer was in September, no reply/activity since, jet there were users asking for feedback.

[2022-01-25 07:48] Joost79 opened #995 "[Abandoned Plugin] Filament Sensor Revolutions"
### Which Plugin?

https://plugins.octoprint.org/plugins/filamentrevolutions/

### Link to ticket on plugin's issue tracker confirming abandonment

https://github.com/RomRider/Octoprint-Filament-Revolutions/pull/1

### Is there someone open to adopting it?

_No response_

[2022-01-25 19:35] jneilliii commented on #994
Just because there's no activity in a few months doesn't mean it's abandoned by @LuckyX182, but they could be a student and back in school or something similar. That being said, there is an open PR and several unanswered issues on the repo indicating potential abandonment.

[2022-01-25 19:36] jneilliii commented on #994
If @LuckyX182 doesn't respond here within 14 days I will mark plugin abandoned.

[2022-01-25 19:42] jneilliii commented on #995
No issue tracker enabled on repo, and open PR with comment from March asking if plugin is abandoned. This one does appear to be abandoned by @RomRider. Will leave this here for 14 days for a response, if none is received then will put up for adoption. Maybe @sgruby would be interested since the PR was contributed by them?

[2022-01-25 19:49] jneilliii commented on #807
Now that my RTMPStreamer plugin works the same as this plugin with the added benefit of an optional docker requirement (can stream using ffmpeg directly) maybe this plugin could be redirected to mine @foosel or remove the listing altogether?

[2022-01-26 09:58] CyFire opened #996 "[Listing Error] MetadataPreprocessor"
### Which Plugin?

https://plugins.octoprint.org/plugins/metadatapreprocessor/

### What kind of listing error are you reporting?

broken link on the listing

### What specifically is broken or wrong?

Can't install from the address given.

[2022-01-26 12:54] foosel commented on #807
We can adjust the description to point to yours, but an automatic redirect feels a bit like a "hostile takeover" given that it is indeed a different plugin from a different author.

We might have to think about a general approach on how to handle plugins that have been abandoned without any obvious interest to adopt them for a long duration. But that's probably better discussed on Discord.

[2022-01-26 13:55] awenelo commented on #996
It looks like I was missing `release.zip` in the latest release. I've added it now, and the link works for me.

@CyFire, could you try installing again?

[2022-01-26 15:06] CyFire commented on #996
It works now.  Thanks.

From: awenelo ***@***.***>
Sent: Wednesday, January 26, 2022 5:56 AM
To: OctoPrint/plugins.octoprint.org ***@***.***>
Cc: CyFire ***@***.***>; Mention ***@***.***>
Subject: Re: [OctoPrint/plugins.octoprint.org] [Listing Error] MetadataPreprocessor (Issue #996)

It looks like I was missing release.zip in the latest release. I've added it now, and the link works for me.

@CyF

[2022-01-26 15:12] #996 closed

[2022-01-27 03:04] jneilliii commented on #983
@Royrdan, few things I'll need from you.

1. Enable issues on your fork of the repository.
2. Update the user [here](https://github.com/Royrdan/Octoprint-Smart-Filament-Sensor/blob/ce247f3f4ebb3e72e65dfe9ea95b9659ee1db3f2/octoprint_smart_filament_sensor/__init__.py#L348)
2. Update the url [here](https://github.com/Royrdan/Octoprint-Smart-Filament-Sensor/blob/ce247f3f4ebb3e72e65dfe9ea95b9659ee1db3f

[2022-01-27 03:22] Cpmjaguar1234 opened #999 "[Abandoned Plugin] LEDStripControl"
### Which Plugin?

https://plugins.octoprint.org/plugins/ledstripcontrol/

### Link to ticket on plugin's issue tracker confirming abandonment

It says it on the octoprint details page

### Is there someone open to adopting it?

@cpmjaguar1234

[2022-01-27 03:24] Cpmjaguar1234 commented on #999
![Screenshot 2022-01-26 10 23 51 PM](https://user-images.githubusercontent.com/93066433/151286492-8ee756c2-6810-46f5-8769-dbf749973f41.png)

[2022-01-27 03:27] jneilliii commented on #999
duplicate of #918

[2022-01-27 03:27] #999 closed

[2022-01-28 07:49] AntDX316 commented on #687
does that mean the sensor stops will work again?

[2022-01-28 10:20] ssorgatem commented on #687
Hi, sorry for not replying earlier, I just saw this.
I'll look into providing access or transferring the repo.

[2022-01-28 10:25] ssorgatem commented on #687
@nickmitchko I added you as a collaborator, because it wouldn't let me transfer the repo because you have it already forked.

If you delete your fork I can do the transfer.

[2022-01-28 14:46] nickmitchko commented on #687
@ssorgatem I have deleted the fork, if you prefer the transfer. I am okay with either solution

[2022-01-28 23:12] AntDX316 commented on #687
The sensor stop pause code just has to work when triggered.

[2022-01-28 23:44] cp2004 commented on #687
@AntDX316 please stop posting off-topic comments in this issue, which is about transferring the maintainer of the plugin. Thanks.

[2022-01-29 16:53] jneilliii commented on #983
@Royrdan I see you took care of 1-4, small correction needed. GitHub is case sensitive on the URL so make the line [here](https://github.com/Royrdan/Octoprint-Smart-Filament-Sensor/blob/bffb42fa6350539a523ee4db132235b5a56ad3c3/octoprint_smart_filament_sensor/__init__.py#L369) be `pip="https://github.com/Royrdan/Octoprint-Smart-Filament-Sensor/archive/{target_version}.zip"`, notice capital `R` in u

[2022-01-30 23:53] Royrdan commented on #983
Hi jneilliii,
Thanks for your help with that.
It should all be completed now.
Let me know anything else.
Thanks

[2022-01-31 03:59] #983 closed

[2022-01-31 18:01] LuckyX182 commented on #994
Plugin not abandoned but don't have much time for it.

[2022-01-31 18:17] cp2004 commented on #994
Thanks for getting back about the plugin's status, this issue can be closed for now then.

[2022-01-31 18:17] #994 closed

[2022-01-31 22:39] joshuacant commented on #983
Hi, I am unsure if this is the right place for this, please accept my apologies in advance if it is not!

I got an update notice on this plugin today and when I updated it, the following errors were produced:

It seems like the updater is confused and trying to pull the new version from the previous repo. Is there any way to fix this?

[2022-01-31 23:13] cp2004 commented on #983
Potential fix in #1002

[2022-02-01 15:08] joshuacant commented on #983
[code]

Looks like a missing double quote, but I see the setup.py in your repo was fixed. Maybe you need to push a new release zip with that change?

[2022-02-01 19:02] jneilliii commented on #983
It does look like you are correct @joshuacant. The tagged 1.1.6 version is missing the first double quote for author. @Royrdan you need to re-create that tag and force push or bump the version in setup.py and create a new 1.1.7 version tag and release.

[2022-02-03 20:38] adilinden commented on #807
I am not going to be able to look at https://github.com/adilinden-oss/octoprint-webcamstreamer any time soon. Whatever you think is best to efficiently get people searching for "octopi google streaming" to a functioning plugin I am ok with.

I only noticed this because yesterday I turned on my printer after a long hibernation (lack of time and space to pursue) and thought too look if there have be

[2022-02-09 00:21] synman commented on #982
@jneilliii I've been directing people to your fork where you fixed the "delete all custom commands" on restart bug.

[2022-02-09 07:40] andyhud09 opened #1006 "[Listing Error] Fractal Bridge"
### Which Plugin?

https://plugins.octoprint.org/plugins/fractalbridge/

### What kind of listing error are you reporting?

broken link on the listing

### What specifically is broken or wrong?

The Discord invite has expired.

[2022-02-09 08:19] foosel commented on #1006
Hi @Popeyef5, see above report. Also seems to apply to the invite in your repository's README.

[2022-02-12 20:32] timbarnes opened #1010 "[Listing Error] OctoPrint-TuyaSmartplug"
### Which Plugin?

https://plugins.octoprint.org/plugins/tuyasmartplug/

### What kind of listing error are you reporting?

incorrect compatibility information on the plugin listing

### What specifically is broken or wrong?

The image showing the interface is no longer correct. There is an additional button for "Version 3.3" in the current interface, which does not appear to be documented.

[2022-02-23 22:55] cp2004 commented on #1010
It is difficult for plugin authors to keep the plugin repository up to date with exactly how the plugin looks when it is installed, the plugin repository listing is there to give you an idea of what the plugin can do, rather than a complete guide to the plugin. If that's necessary to use it, it should be documented separately.

@ziirish are you able to sort this?

[2022-02-23 22:55] cp2004 commented on #955
@dougbrion are you going to sort this?

[2022-02-23 23:30] dougbrion commented on #955
Sorry it has taken so long... PhD has been getting in the way. Just submitted a pull request ( #1017 ) to fix the broken URLs.

[2022-02-24 09:00] ziirish commented on #1010
Hello, I'll make new screenhots when I have a chance.
Thanks for the report!

[2022-02-25 09:19] foosel commented on #1006
@Popeyef5 ping?

[2022-02-25 09:21] foosel commented on #1006
@FractalManufacturing @Fractal3D see above

[2022-02-25 09:22] foosel opened #1018 "[Abandoned Plugin] OctoPrint-Enclosure"
### Which Plugin?

https://plugins.octoprint.org/plugins/enclosure/

### Link to ticket on plugin's issue tracker confirming abandonment

https://github.com/vitormhenrique/OctoPrint-Enclosure/issues/435

### Is there someone open to adopting it?

_No response_

[2022-02-25 09:30] foosel commented on #1018
Timeline:

  * 2021/08/30 - originally inquiry by @hbast if plugin was still actively maintained
  * 2021/10/12 - I asked about status after reported incompatibilities with latest OctoPrint release. @vitormhenrique gets back to me, confirms they are still working on it but need help, I give some exposure on Twitter. A ton of people chime up in the thread, a Discord server is created
  * 2021/10/18

[2022-02-25 19:28] rtheil-growlink commented on #1018
If I didn't loathe Python, I would absolutely contribute. I do love this plugin and am not aware of an equivalent alternative. I'm concerned that I'll lose use of the plugin if I upgrade Octoprint, especially with the upgrade from Python 2.x to 3. Another reason why I dislike Python.

[2022-02-25 19:35] cp2004 commented on #1018
The plugin says it's compatible with Python 2 and 3. This is not the place for Python bashing please, constructive comments would be preferred.

[2022-02-25 20:08] rtheil-growlink commented on #1018
Except that it's not entirely compatible. Several open issues related to the plugin having errors after upgrading to Python 3. This is not meant to bash Python, just to state the fact that what works with Python 2 won't always work with Python 3, and those issues are extremely common. It is also a reason why some developers can't/won't contribute. Vitor even stated on Oct 12 that the project neede

[2022-02-26 01:21] vitormhenrique commented on #1018
i think there is a misunderstanding here.

I said that I was gonna make this plugin compatible with python 3, and we got those pull requests on.

I'll accept PR's for but fixes but NOT new features.

The current way that the plugin works takes a lot of effort and knowledge of python environments and libraries to make it work, the configuration is terrible and user's just don't know how to use it.

[2022-02-26 14:04] foosel commented on #1018
@vitormhenrique That does sound however like v1 (which currently the only one available) is pretty much abandoned since you are working on v2? Or will you also still push out new versions if there are incompatibilities or anything like that? I'm only trying to understand the status here and make sure it is correctly reflected to the community in the plugin repository. From the feedback on the tick

[2022-02-26 14:08] foosel commented on #982
@jneilliii that "actively worked on" status has been in there for almost two years now with no changes however, and I also haven't seen any activity from @Salandora on GitHub in quite a while. Which is totally fine, priorities shift, but considering that this particular plugin also has a somewhat nasty bug for the same almost two years now which has been fixed on your version but still not merged,

[2022-02-26 14:29] vitormhenrique commented on #1018
I plan to keep it compatible with no more features added.
The issue with the current plugin is that it requires a lot of knowledge, a lot of people can't get the plugin working because they don't know how to install and properly configure.
I'm happy to merge PR's with fixes and I have done so 5 times this year.
I'm also happy to add anyone as collaborators, if they want to improve or add other stu

[2022-02-26 14:32] #1018 closed

[2022-02-26 14:33] foosel commented on #1018
Then this sounds more like a communication issue and misunderstanding and I apologize.

[2022-02-26 19:34] jneilliii commented on #982
No, it's the only one. I would be willing to adopt the plugin since it's technically not that different than event manager plugin and probably doesn't need much changes to remain functional. I'm still a firm believer that any setting outside of "plugins" should be part of Core though.

[2022-02-26 19:51] jneilliii commented on #982
I think GCODEViewer was the only one that has gone the other way from core to plugin. I can only think of Event Manager that has been added since plugin ecosystem was created, maybe pi support plugin wasn't there at the beginning but can't really remember.

[2022-02-26 20:15] cp2004 commented on #982
3rd party plugins don't really end up becoming included in core as a bundled plugin, when I've looked back at history it is either new features in core being made as bundled plugins (usage tracking, error tracking, printer dialogs/notifications, etc.) or core components being extracted into plugins. I'm not aware of any time where it's happened before.

[2022-02-26 20:20] cp2004 commented on #955
PR was merged

[2022-02-26 20:23] synman commented on #982
I guess it boils down to how important are maintaining custom controls to the functionality of the overall ecosystem.   There is some decent core functionality being exposed already to make this capability available.   I've used it within my own plugin to maintain custom controls functionality similar to what is exposed in the core control tab.

It's some pretty cool stuff.  I was surprised how ea

[2022-02-26 20:30] foosel commented on #982
I'm willing to make it a core plugin.

[2022-02-27 20:54] rtheil-growlink commented on #1018
Thanks for the update, @vitormhenrique. Good to know the plugin has been updated to work with Python 3. I feel safe upgrading octoprint and Python to latest now.

[2022-02-28 18:45] willindiana opened #1021 "[Abandoned Plugin] Continuous Print"
### Which Plugin?

https://plugins.octoprint.org/plugins/continuousprint/

### Link to ticket on plugin's issue tracker confirming abandonment

https://github.com/Zinc-OS/continuousprint/issues/70

### Is there someone open to adopting it?

Primary: @smartin015  Fallback: @willindiana

[2022-02-28 18:57] smartin015 commented on #1021
Some context: I'd previously opened #966, closing after I heard back from @Zinc-OS. But nobody's heard from them in over a month now, and contributions are piling up. I'm still open to adopting this plugin.

[2022-02-28 19:06] willindiana commented on #1021
I second that sentiment as I have had an open PR since October of last year. https://github.com/Zinc-OS/continuousprint/pull/46. I have been watching Scott respond and patch issues diligently and I trust he is capable of taking over.

[2022-02-28 23:49] jneilliii commented on #1021
@Zinc-OS I totally understand life happens and other things take priority over plugin development, but it seems you have a couple of people that are willing to help. Would you be up for adding these guys as contributors to your repo or should we consider this abandoned and transfer ownership?

[2022-02-28 23:58] #687 closed

[2022-03-04 12:43] JodyMT commented on #983
@Royrdan - if you are still maintaining this plugin THANK YOU 1st of all, is it possible to add some sort of distance calibration to the plugin (i made a custom filament sensor and i'm sure the distance calibration is off)

[2022-03-04 12:57] cp2004 commented on #983
@JodyMT Feature requests should go directly to the plugin author, not here.

https://github.com/Royrdan/Octoprint-Smart-Filament-Sensor

[2022-03-04 13:14] Royrdan commented on #983
Hi Jody,
Thanks for your feedback.
If you completely remove the old plugin then re-add the plugin. It should fix the issue of not updating. Please let me know if any issues with upgrading.
The plugin does not measure the filament for the moves. It works by checking if the filament has moved by the G command then if any movement is detected at all it will reset the counter. The sensor doesnt calcul

[2022-03-04 13:40] JodyMT commented on #983
hi, sorry about that but i can't figure out where that is, is that "pull
request" ? i dont know how to contact him

On Fri, Mar 4, 2022 at 2:57 PM Charlie Powell ***@***.***>
wrote:

[2022-03-04 13:44] Royrdan commented on #983
@JodyMT See previous reply I replied to you. But also if you have an issue you can raise it under the link in the provided link above under the issues tab and create a new issue. But please read the above the reply I have posted if that answers your questions. Thanks

[2022-03-09 18:18] Popeyef5 commented on #1006
Hey! Nice catch. Sorry for the late reply, I was AFK for the past few weeks. I'll fix it ASAP. Thanks again!

[2022-03-12 19:18] arcasoy commented on #1021
@jneilliii May I ask what are the next steps in the process? Hoping to see progress soon from those able to contribute.

[2022-03-13 01:04] jneilliii commented on #1021
Since it appears Zinc-OS has gone the next steps are to create a fork and merge any outstanding PRs/bug fixes and release as a new version on your fork, making sure to update the version in setup.py. Once that is completed submit a PR here adding yourself to the authors list in the template and update the links and such to your fork. We'll then review that PR and verify everything is setup properl

[2022-03-13 01:06] jneilliii commented on #1021
Here's an example of an adoption PR...

https://github.com/OctoPrint/plugins.octoprint.org/pull/998/files

[2022-03-13 03:11] #1021 closed

[2022-03-16 16:11] smartin015 opened #1028 "[Feature Request] historical adoption metrics"
### What do you want to see implemented in the plugin repository?

I'd like to see some longer historical data around plugin adoption, to complement the 7-day and 30-day active user metrics already published.

It would be fantastic if there were multiple historical dumps of weekly/monthly plugin stats, in addition to the current json dumps in https://data.octoprint.org/export/. Even something as s

[2022-03-16 16:56] cp2004 commented on #1028
I was just typing out the same set of links...

[2022-03-16 21:56] cp2004 commented on #1028
The positive spin on it - you get to customise it to what *you* want and I learnt a bit of React/MUI stuff at the time doing it as an experiment 🙂 . Ideally, the less things that we can maintain the better - it may benefit a few plugin authors, but it is adding more stuff to maintain across the octoprint.org sites for a very small number of people, often just one.

[2022-03-17 12:36] mdulac1966 opened #1031 "[Listing Error] USB Relay Control"
### Which Plugin?

https://plugins.octoprint.org/plugins/usbrelaycontrol/

### What kind of listing error are you reporting?

incorrect compatibility information on the plugin listing

### What specifically is broken or wrong?

After a fresh Octoprint install the USB relayboard is not found.
The board is working whitin Windows RelayControler it detected a HURTM 2 switches relais board.
Does anyone

[2022-03-17 13:03] jneilliii commented on #1031
This issue tracker is for the plugin repository itself, not issues with functionality of the plugin. Please open an issue on the plugin's github repo.

[2022-03-17 13:03] #1031 closed

[2022-03-22 03:00] sarusani opened #1035 "[Abandoned Plugin] OctoPrint-Prusa-Mini-ETA"
### Which Plugin?

https://plugins.octoprint.org/plugins/prusa_mini_eta/

### Link to ticket on plugin's issue tracker confirming abandonment

https://github.com/vookimedlo/OctoPrint-Prusa-Mini-ETA/issues/6

### Is there someone open to adopting it?

_No response_

[2022-03-22 03:12] Sparkie01 opened #1036 "i got an error 5 times tring to install OctoPrint-Wyze & it is not in app plugins"
### Which Plugin?

https://plugins.octoprint.org/plugins/wyze/

### What kind of listing error are you reporting?

broken link on the listing

### What specifically is broken or wrong?

_No response_

[2022-03-22 04:45] jneilliii commented on #1036
Please elaborate what you mean? The plugin page loads as well as the homepage link to GitHub without problems for me.

[2022-03-22 04:48] jneilliii commented on #1035
It appears that an open PR on the original repo may resolve the issue linked [here](https://github.com/egguy/OctoPrint-Prusa-Mini-ETA). Maybe @egguy would be up for adoption?

[2022-03-22 14:53] egguy commented on #1035
I would be OK to adopt the plugin. Should I do a fork of the repo and change [the .md ](https://github.com/OctoPrint/plugins.octoprint.org/blob/gh-pages/_plugins/prusa_mini_eta.md) ?

[2022-03-22 16:56] cp2004 commented on #1035
Is there a difference between the aforementioned plugin and this one? https://plugins.octoprint.org/plugins/m73etaoverride/

[2022-03-22 17:53] SB97 commented on #1035
@cp2004 just looked at the source code of both. They have the same functionality. And It looks like neither of those do support the silent mode in PrusaSlicer.

[2022-03-22 18:37] egguy commented on #1035
There's an unmerged PR to have the estimated time from the initial gcode loading, which is already present in this plugin.
@SB97 If there's a way to detect if the printer is in silent mode, I could try to implement. (there's also a separate branch with this functionality, but unfinished)

[2022-03-22 22:59] egguy commented on #1035
Ok, I've implemented a support for the silent mode of the Prusa MK3, but it requires activating the functionality in the plugin's settings.
I think the plugin should work with other printers, but I can't test :s

[2022-03-23 00:33] jneilliii commented on #1035
The process is fairly easy. You just submit a PR adding you to the authors list in the md file, and preferably the overlays for the update checks. You'll want to finalize any changes and bump the version in setup.py and create a release in GitHub with the same version as the tag. Here's an example of a recent adoption: https://github.com/OctoPrint/plugins.octoprint.org/pull/1027/files

[2022-03-23 00:34] jneilliii commented on #1035
but agree with @cp2004 if the other plugin does the same thing and is still active it would probably be better to retire one and keep the other. There may have been a technical difference to how the plugins were functioning, but further review would need to be made for that.

[2022-03-23 00:40] jneilliii commented on #1035
I remember now why there are two. Prusa-Mini-ETA also includes an analysis factory, whereas M73ETAOverride is just an estimation factory.

[2022-04-01 14:18] #1035 closed

[2022-04-10 20:34] wizard04wsu opened #1044 "[Abandoned Plugin] FileManager"
### Which Plugin?

https://plugins.octoprint.org/plugins/filemanager/

### Link to ticket on plugin's issue tracker confirming abandonment

https://github.com/Salandora/OctoPrint-FileManager#readme

### Is there someone open to adopting it?

_No response_

[2022-04-10 20:39] cp2004 commented on #1044
Not the first time this question has been asked. See #453 #719 & https://github.com/Salandora/OctoPrint-FileManager/issues/35

[2022-04-10 20:39] cp2004 commented on #1036
Closing due to lack of response

[2022-04-10 20:39] #1036 closed

[2022-04-10 21:07] wizard04wsu commented on #1044
Well, it's probably time to ask it again. This plugin has 13 outstanding issues and there have been no changes to the repository and no comments made by the owner in over a year.

[2022-04-13 17:44] jneilliii commented on #1006
Any update @Popeyef5 ?

[2022-04-13 17:45] #807 closed

[2022-04-14 15:42] foosel opened #1048 "Deregistration of CrealityCloud plugin due to copyright situation"
It has come to our attention that there are allegations of content theft from prominent members of the community against your platform, as of yet unaddressed by you:

  * https://twitter.com/agepbiz/status/1514611716985790475

Due to this, we are removing this listing from the plugin repository again. Once these complaints have been resolved we will reconsider adopting the plugin into the official

[2022-04-21 08:45] crealitycloud commented on #1048
Hello,we have been in contact with Stian Ervik Wahlvåg and removed all the models that violated his copyright. We are a platform that provide service not content. We did not upload these models and are not involved in any of these copyright infringement behaviors. We vigorously protect intellectual property rights and take reports of suspected infringements seriously. To be clearer, it was not us

[2022-04-22 03:38] crealitycloud commented on #1048
Protecting the rights of creators has always been at the core of our operations. Here is the list of models that we have verified and removed. The list will be continually updated.
https://github.com/crealitycloud/deleted_models/blob/main/README.md

[2022-04-25 12:26] slm020 opened #1051 "[Abandoned Plugin] Full-featured Slicer"
### Which Plugin?

https://plugins.octoprint.org/plugins/slicer/

### Link to ticket on plugin's issue tracker confirming abandonment

https://github.com/kennethjiang/OctoPrint-Slicer

### Is there someone open to adopting it?

_No response_

[2022-04-27 14:27] jneilliii commented on #1051
duplicate of #911

[2022-04-27 14:27] #1051 closed

[2022-04-27 14:28] jneilliii commented on #911
@eyal0 we haven't heard back from you on this and have received another abandoned plugin report. Are you still maintaining the plugin or should we put it up for adoption?

[2022-04-28 16:28] eyal0 commented on #911
I don't have time to maintain this anymore.  I'm willing to help out whoever follows.

[2022-05-05 21:39] jneilliii opened #1058 "[Abandoned Plugin] OctoPrint-SlicerSettingsParser"
### Which Plugin?

https://plugins.octoprint.org/plugins/SlicerSettingsParser/

### Link to ticket on plugin's issue tracker confirming abandonment

https://github.com/tjjfvi/OctoPrint-SlicerSettingsParser/issues/9

### Is there someone open to adopting it?

@rob4226 maybe? Has made plugin Python 3 compatible.

[2022-05-05 21:41] jneilliii commented on #1058
@rob4226 do you think you would be up for adopting this and the other plugin since you made the python 3 compatible version?

[2022-05-06 09:53] Loadmaster1 opened #1059 "While trying to install, receive this message, "ERROR: Could not find a version that satisfies the requirement OctoPrint-SlicerSettingsParser (from octoprint-extrafileinfo)ERROR: No matching distribution found for OctoPrint-SlicerSettingsParserError!Could not parse output from pip, see plugin_pluginmanager_console.log for generated output"."
### Which Plugin?

https://plugins.octoprint.org/plugins/extrafileinfo/

### What kind of listing error are you reporting?

broken link on the listing

### What specifically is broken or wrong?

While trying to install, I receive this message, "ERROR: Could not find a version that satisfies the requirement OctoPrint-SlicerSettingsParser (from octoprint-extrafileinfo)ERROR: No matching distribution

[2022-05-06 16:46] theturtle32 opened #1060 "[Listing Error] ExtraFileInfo"
### Which Plugin?

https://plugins.octoprint.org/plugins/extrafileinfo/

### What kind of listing error are you reporting?

incorrect compatibility information on the plugin listing

### What specifically is broken or wrong?

This plugin depends on a separate OctoPrint plugin [OctoPrint-SlicerSettingsParser-Python3](https://github.com/Rob4226/OctoPrint-SlicerSettingsParser-Python3) already being i

[2022-05-06 18:31] jneilliii commented on #1059
Please report plugin installation issues in the plugin's repository tracker.

https://github.com/larsjuhw/OctoPrint-ExtraFileInfo/issues

[2022-05-06 18:31] #1059 closed

[2022-05-06 18:31] jneilliii commented on #1060
The plugin author is working on updating the plugin listing with more detailed instructions.

[2022-05-06 20:47] skulldgry opened #1061 "[Listing Error] ExtraFileInfo"
### Which Plugin?

https://plugins.octoprint.org/plugins/extrafileinfo/

### What kind of listing error are you reporting?

incorrect compatibility information on the plugin listing

### What specifically is broken or wrong?

ERROR: Could not find a version that satisfies the requirement OctoPrint-SlicerSettingsParser (from octoprint-extrafileinfo)
ERROR: No matching distribution found for OctoPri

[2022-05-06 20:48] kantlivelong commented on #1061
Dupe #1060

[2022-05-06 20:48] #1061 closed

[2022-05-09 00:56] larsjuhw commented on #1060
[Should be fixed now.](https://github.com/larsjuhw/OctoPrint-ExtraFileInfo/commit/381fba3a4b2fe04020e2fbc11a6384edf59a567f#diff-60f61ab7a8d1910d86d9fda2261620314edcae5894d5aaa236b821c7256badd7R36)

[2022-05-09 02:07] #1060 closed

[2022-05-12 13:39] Vyacheslav23 opened #1067 "[Listing Error] GPIO Control"
### Which Plugin?

https://plugins.octoprint.org/plugins/gpiocontrol/

### What kind of listing error are you reporting?

broken images on the listing

### What specifically is broken or wrong?

Плагин не работает
![Плагин](https://user-images.githubusercontent.com/28665769/168087637-bbb1490d-77e7-4361-a20d-5f386c98af43.jpg)
![Плагин 1](https://user-images.githubusercontent.com/28665769/168087961-

[2022-05-12 13:41] kantlivelong commented on #1067
This tracker is reserved for:

- missing or broken homepage, source or download URLs
broken images
- incorrect compatibility information
- ... in short, anything related to the data on plugins.octoprint.org

If this issue only applies to a specific plugin please report to the appropriate plugin repository.

If this issue affects all plugins please submit a ticket to https://github.com/foosel/OctoP

[2022-05-12 13:41] #1067 closed

[2022-05-12 15:34] Vyacheslav23 opened #1068 "[Listing Error] GPIO Control"
### Which Plugin?

https://plugins.octoprint.org/plugins/gpiocontrol/

### What kind of listing error are you reporting?

broken images on the listing

### What specifically is broken or wrong?

![Плагин 1](https://user-images.githubusercontent.com/28665769/168113194-2a8d0fd8-7c6a-42f2-9a38-35d9720d13e8.jpg)

[2022-05-12 15:35] kantlivelong commented on #1068
This tracker is reserved for:

- missing or broken homepage, source or download URLs
broken images
- incorrect compatibility information
- ... in short, anything related to the data on plugins.octoprint.org

If this issue only applies to a specific plugin please report to the appropriate plugin repository.

If this issue affects all plugins please submit a ticket to https://github.com/foosel/OctoP

[2022-05-12 15:35] #1068 closed

[2022-05-12 16:12] kantlivelong commented on #1068
@Vyacheslav23 be sure to open your issue with the appropriate repo (not here) and provide more info than just a screenshot.

[2022-05-20 16:19] Salandora commented on #982
@foosel sorry for the late replay, go for it.
I will probably not continue on any of my plugins for the time being.
I don't really have time to print nowadays.

Feel free to open a Abandoned for the rest of my plugins too or if you want put them as a core plugin.

[2022-06-06 21:42] WalkerRaiden opened #1077 "[Abandoned Plugin] OctoPrint-Enclosure"
### Which Plugin?

https://plugins.octoprint.org/plugins/enclosure/

### Link to ticket on plugin's issue tracker confirming abandonment

https://plugins.octoprint.org/plugins/enclosure/

### Is there someone open to adopting it?

_No response_

[2022-06-06 22:02] cp2004 commented on #1077
Can you provide a link to somewhere confirming abandonment? An issue asking the question with no response maybe?

[2022-06-06 22:53] jneilliii commented on #1077
I know for fact this plugin isn't abandoned, the v2 version linked from the range has activity on the dev branch. There is also a discord where there has been some discussion.

[2022-06-06 22:53] #1077 closed

[2022-06-20 14:52] foosel commented on #652
Additional thoughts from a Discord discussion a while back:

*(had this in my Todoist backlog and am adding it here now that I'm creating a public one on GitHub Projects)*

[2022-06-21 13:39] foosel commented on #982
See OctoPrint/OctoPrint#4526

[2022-06-21 16:27] #1048 closed

[2022-06-28 08:04] GuySandler opened #1082 "[Abandoned Plugin] OctoPrint-Thingiverse"
### Which Plugin?

https://plugins.octoprint.org/plugins/thingiverse/

### Link to ticket on plugin's issue tracker confirming abandonment

https://github.com/stefancandrea/OctoPrint-Thingiverse/blob/master/README.md

### Is there someone open to adopting it?

I tried but then realized it's kind of a security risk and just skips 1 step

[2022-06-29 10:36] urobot2011 commented on #911
Me

[2022-06-29 17:09] jneilliii commented on #911
@eyal0 would you be willing to transfer the repo to volunteer @urobot2011? We've found that this is the smoothest way to transition a plugin between maintainers.

[2022-06-30 16:02] eyal0 commented on #911
Sure!  How do I do it?

[2022-06-30 16:41] jneilliii commented on #911
You go into the settings of the repository and use the transfer button at the bottom of the page.

![image](https://user-images.githubusercontent.com/5249455/176731720-493f1636-815b-42b1-8c71-54a9e452493d.png)

But before you do that I'd like to get a formal response from @urobot2011 that he truly wants to take over maintenance of this plugin and verify it's not just some random bot on github repl

[2022-07-01 08:23] Z-K-O opened #1085 "[Abandoned Plugin] Flashforge/Dremel/PowerSpec Printer Support"
### Which Plugin?

https://plugins.octoprint.org/plugins/FlashForge/

### Link to ticket on plugin's issue tracker confirming abandonment

https://github.com/Mrnt/OctoPrint-FlashForge/blob/master/README.md

### Is there someone open to adopting it?

_No response_

[2022-07-01 08:25] Z-K-O commented on #1085
Copied directly from readme:

Neither FlashForge or Dremel have provided details of the commands or protocol supported by the various models - almost all the work herein was done by reverse engineering the communication between FlashPrint and the two printers I had access too, trial and error, and subsequently spending many, many hours studying debug logs including those graciously provided by use

[2022-07-21 19:38] poprhythm opened #1090 "[Listing Error] OctoPrint-GpioFanController"
### Which Plugin?

https://plugins.octoprint.org/plugins/gpiofancontroller/

### What kind of listing error are you reporting?

a typo in the plugin listing

### What specifically is broken or wrong?

Summary is "Uses PI GPIO pins to control a variable speed fan with PWM" - pretty sure the PWM should be removed as it doesn't use these pins. Great project BTW!

[2022-07-21 20:50] jneilliii commented on #1090
You should report this to the plugin repo directly and request the change. The issue tracker here is really used to manage other things and it's the plugin's author responsibility to manage the content of their listing.

https://github.com/z4gunn/OctoPrint-GpioFanController/issues

[2022-07-21 20:50] #1090 closed

[2022-08-01 01:27] martin-nieuwoudt opened #1097 "[Listing Error] OctoEverywhere - Free Remote Monitoring, Notifications, And Control!"
### Which Plugin?

https://plugins.octoprint.org/plugins/octoeverywhere/

### What kind of listing error are you reporting?

incorrect compatibility information on the plugin listing

### What specifically is broken or wrong?

You are reporting octoeverywhere as free. It is not. This is false advertising. Stop lying to the public

[2022-08-01 02:38] jneilliii commented on #1097
@QuinnDamerell has your policy changed with octoeverywhere?

[2022-08-01 03:35] QuinnDamerell commented on #1097
@jneilliii nope, everything is still the same as it's always been!

@martin-nieuwoudt, I'm sorry the plugin seemed incorrect to you. I'm happy to help you figure out the discrepancy either in this thread, or you can email me privately using: https://octoeverywhere.com/support

My goal from the beginning of the project has always been to make the service as free as possible, so everyone in the Octo

[2022-08-01 03:58] #1097 closed

[2022-08-17 05:58] nikkolade opened #1101 "[Listing Error] Prusa MMU plugin download link is broken (2022.08.14)"
### Which Plugin?

https://plugins.octoprint.org/plugins/prusammu/

### What kind of listing error are you reporting?

broken link on the listing

### What specifically is broken or wrong?

The latest release (2022.08.14) download is broken.
The broken link is:
https://github.com/jukebox42/Octoprint-PrusaMMU/releases/2022.8.14/download/Octoprint-PrusaMmu.zip
where the date and download directories

[2022-08-17 21:26] jneilliii commented on #1101
This is actually an error with the plugin's software update hook configuration, not the plugin listing itself. You should report to that plugin's repository if you haven't already.

[2022-08-17 21:26] #1101 closed

[2022-08-17 21:29] jneilliii commented on #1101
I went ahead and posted an issue, linked above.

[2022-08-19 12:40] chessdenman commented on #1085
Hi,
I'd be very interested in helping out and learning about the merlin convert of the printer.
I have not got the skills to do reverse engineering on my creator pro and have simply frozen the version of flashprint I use and my version of octoprint so as to keep using your plugin.
My guess it that flashforge will simply abandon the printer ultimately as it is aging (in not being directly connected

[2022-08-19 12:56] cp2004 commented on #1085
@chessdenman - this ticket relating to the listing of the plugin in OctoPrint's plugin repository.

If you would like to discuss connecting/using FlashForge printers or the development of this plugin, please use the community forums or discord server, as well as any resources on the actual plugin's repository.

[2022-08-20 20:03] permanent25 opened #1102 "[Listing Error] OctoKlipper"
### Which Plugin?

https://plugins.octoprint.org/plugins/klipper/

### What kind of listing error are you reporting?

a typo in the plugin listing

### What specifically is broken or wrong?

After installation, it does not connect me to the printer. I use octoprint for windows

[2022-08-20 20:15] cp2004 commented on #1102
a typo in the plugin listing

Where is the typo?

[2022-08-21 12:33] urobot2011 commented on #911
i not bot.

[2022-08-22 16:09] osho-m commented on #1102
What kind of Error?

[2022-09-05 16:47] bjoernefar opened #1104 "[Listing Error] Mattacloud Beta"
### Which Plugin?

https://plugins.octoprint.org/plugins/mattacloud/

### What kind of listing error are you reporting?

broken link on the listing

### What specifically is broken or wrong?

404 error + certificate failure

[2022-09-05 17:07] kantlivelong commented on #1104
@dougbrion

[2022-09-17 04:08] Commander-Firestrike commented on #1085
I can't find @chessdenman on Discord or the Octoprint Forums so I'm messaging here.

I managed to convert my Inventor to Marlin with the [moonglow/Flashforge_Marlin](https://github.com/moonglow/FlashForge_Marlin) repo, maybe that would help you? Feel free to contact me on [my profile on the Octoprint forums](https://en.wikipedia.org/wiki/Inherently_funny_word).

[2022-09-17 21:01] cp2004 commented on #1102
I guess there was no typo 🤷

[2022-09-17 21:01] #1102 closed

[2022-09-25 23:50] Mrnt commented on #1085
@chessdenman I doubt FlashForge will abandon their printer line - they keep on making more with seemingly the same closed source code base. They do however stop supporting old versions of printer that they branded for someone else, eg the PowerSpec Ultra for MicroCenter. I suggest you look into the [moon glow/Flash](https://github.com/moonglow/FlashForge_Marlin) project as suggested by @Commander-

[2022-09-26 18:57] gbonesso commented on #918
Hi! I'm interested in adopting this plugin. This plugin and it's not much complicated and it's a good place to start contributing to the community. What should I do to start? I've already forked it here (https://github.com/gbonesso/OctoPrint-LEDStripControl)...

[2022-09-27 00:34] jneilliii commented on #918
Modify all the files in your fork to reference it's GitHub address instead of your own, including setup.py and update hook in init.py and then submit a PR here modifying the [ledstripcontrol.md](https://github.com/OctoPrint/plugins.octoprint.org/blob/gh-pages/_plugins/ledstripcontrol.md) template file adjusting the URLs and switching author to a list called authors and adding yourself to it, like

[2022-09-27 00:37] jneilliii commented on #918
@gbonesso here's a pretty good example of another plugin adoption and what all files need to be updated for the plugin repository PR mentioned above.

https://github.com/OctoPrint/plugins.octoprint.org/pull/1027/files

[2022-09-27 20:38] gbonesso commented on #918
@jneilliii , I've made the changes and submit the PR (https://github.com/OctoPrint/plugins.octoprint.org/pull/1107). I also reinstalled the plugin using my github repository ( https://github.com/gbonesso/OctoPrint-LEDStripControl/archive/master.zip) and it worked fine...

[2022-09-27 21:31] gbonesso commented on #918
@jneilliii One update: I realized that the screenshot in the plugin page was not updated and I've made a new PR (https://github.com/OctoPrint/plugins.octoprint.org/pull/1108) with the correct screenshot.

[2022-09-28 22:50] realbrianosaurus commented on #911
I like this plugin. I haven't been a programmer for a little while, and I'm not totally familiar with the specifics of using github. How much work is it to maintain the plugin?

[2022-09-28 22:59] jneilliii commented on #911
It largely depends on the popularity of the plugin and how many people are using it. Dealing with feature requests and bug reports, etc. Currently the plugin is showing 21 open issues.

https://github.com/kennethjiang/OctoPrint-Slicer/issues

[2022-10-02 15:16] #918 closed

[2022-10-17 10:34] Guy-Born opened #1115 "[Listing Error] OctoPrint-TuyaSmartplug"
### Which Plugin?

https://plugins.octoprint.org/plugins/tuyasmartplug/

### What kind of listing error are you reporting?

broken link on the listing

### What specifically is broken or wrong?

Hey, i am having problem installing this plugin.
i get exit code 4294967295.
"metadata generation failed"
could you help me?
![image](https://user-images.githubusercontent.com/100953332/196155644-5daff924-

[2022-10-17 12:31] foosel commented on #1115
Please report issues with specific plugins in the bug tracker of the plugin instead of here. This tracker is for reporting issues with the plugin **repository**, not issues with the plugins registered in it, as also stated on the ticket form:

Thanks :)

[2022-10-17 12:31] #1115 closed

[2022-10-19 13:57] planetar opened #1116 "[Listing Error] Octoprint Nexus AI"
### Which Plugin?

https://plugins.octoprint.org/plugins/nexus_ai/?utm_source=octoprint&utm_medium=announcements&utm_content=1.8.6

### What kind of listing error are you reporting?

incorrect compatibility information on the plugin listing

### What specifically is broken or wrong?

Compatibility info lists

however, the NexusAI-tutorial linked at the plugin-page clear states as a precondition:

[2022-10-19 14:26] jneilliii commented on #1116
The plugin itself is completely OS agnostic, and that is the correct compatibility information for that. It's the actual server-side that is currently windows only and I know that the @fiber-punk guys are working to make a linux version as well.

[2022-10-19 14:26] #1116 closed

[2022-10-23 03:25] sinner1234567890 opened #1117 "[Listing Error] PSU Control after installing the plugin is not there to use"
### Which Plugin?

https://github.com/kantlivelong/OctoPrint-PSUControl

### What kind of listing error are you reporting?

incorrect compatibility information on the plugin listing

### What specifically is broken or wrong?

OctoPrint 1.3.12 running on OctoPi 0.17.0 the plugin donlods but dosnt show up to use.

[2022-10-23 04:00] kantlivelong commented on #1117
@sinner1234567890 do you have a related ticket on the repo? If not, open one up and provide whatever information you can. The version you are on is quite old but I can't think of any reason why the plugin itself wouldn't work.

[2022-10-28 14:57] NilsRo opened #1118 "Repository will not update Github information correctly"
As this seems not a content error I opened a blank issue.

Discussed here https://community.octoprint.org/t/plugin-repos-github-stats-shows-old-release-as-most-actual/47467 the Github information of plugin https://plugins.octoprint.org/plugins/SlicerEstimator/ is not updated correctly. It has shown a more actual release in the past but switched back to 2021 actually. But the count of releases is f

[2022-10-31 09:22] foosel commented on #1118
I don't know yet why, but for some reason when I query the last release on GitHub's GraphQL API, this is what I get back:

[code]

[2022-10-31 09:26] foosel commented on #1118
Something about the default sorting order of the `releases` query changed.

[code]

This used to give me the latest release. Now it gives me first. So apparently the default sorting direction changed. I'll change the query to explicitly state the sorting order and field.

[code]

[2022-10-31 09:35] #1118 closed

[2022-11-13 19:49] katiekloss opened #1122 "[Abandoned Plugin] Exclude Region"
### Which Plugin?

https://plugins.octoprint.org/plugins/excluderegion

### Link to ticket on plugin's issue tracker confirming abandonment

https://github.com/bradcfisher/OctoPrint-ExcludeRegionPlugin/issues/67

### Is there someone open to adopting it?

@katiekloss

[2022-11-13 23:01] jneilliii commented on #1122
Thanks @katiekloss for volunteering. Process is pretty straight forward. Fork the plugin to your account, make the changes to bring it up to date and update setup.py with incremented version and create a matching tag/release on your repo. Then check other recent adoption PRs for what kind of changes are required here. Happy to answer any questions.

[2022-11-13 23:04] cp2004 commented on #1122
I think someone should probably open an issue on the repository to at least make it more explicit that the plugin is abandoned and could be adopted. Sometimes when asked directly people will respond and may transfer ownership for example, making the transition basically seamless. Rather than linking to an old PR, that makes no mention of abandoned status.

[2022-11-14 01:00] katiekloss commented on #1122
Good point, updated the original issue with a new one I made in that repo.